.config-link {
    display: flex;
    justify-content: flex-end; /* Align text to the right */
    padding-right: 20px;
    margin-top: auto; /* Pushes it above the footer */
    margin-bottom: 10px; /* Ensures spacing above footer */
    color: cornflowerblue;
    position: relative;
    bottom: 40px;
  }
  
  /* Ensure correct position in mobile view */
  @media (max-width: 768px) {
    .login-page {
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* Ensures full-screen height */
    }
  
    .main-container {
      flex-grow: 1; /* Allows content to take up space */
    }
  
    .config-link {
      width: 100%;
      text-align: right;
      padding-right: 20px;
      margin-top: auto; /* Pushes it to bottom */
    }
  }
  